@page "/{author}/aboutme"
@model Chirp.Web.Pages.UserInformation

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

@using Chirp.Core
@inject SignInManager<Author> SignInManager  
@inject UserManager<Author> UserManager   
 
<!DOCTYPE html>
<html>
<body>
<div>
    
    @if (routeName!.Equals(User.Identity!.Name) && SignInManager.IsSignedIn(User))
    {
        <h2> About me </h2>
        
        <p> This is your personal information page. This page provides an overview 
            of all personal information that Chirp! stores about you. You can download a complete overview down below.</p>
        
        <h3 style="display: inline-block;"> Your username: </h3> 
        <p style="display: inline-block;">@(User.Identity.Name)</p>
        <br>
        <h3 style="display: inline-block;"> Your email: </h3> 
        <p style="display: inline-block;">@(User.Identity.Name)</p>
        
        <h3> Dates and timestamps of your cheeps </h3>
        if (Model.Cheeps.Any())
        {
            <ul id="messagelist" class="cheeps">
                @foreach (var cheep in Model.Cheeps)
                {
                    <li>
                        <small>@cheep.TimeStamp</small>
                    </li>
                }
            </ul>

            <div class="pagination">
                @if (Model.CurrentPage > 1)
                {
                    <a class="btn" href="/@(Model.CurrentAuthor)/aboutme/?page=@(Model.CurrentPage - 1)"> <button> Previous </button> </a>
                }

                @if (Model.HasNextPage)
                {
                    <a class="btn" href="/@(Model.CurrentAuthor)/aboutme/?page=@(Model.CurrentPage + 1)"> <button> Next </button> </a>
                }
            </div>
        }

        <br>
        <button> Download Your Information Here </button>
    }
    else
    {
        if (SignInManager.IsSignedIn(User))
        {
            <h2> 403 - Forbidden </h2>
        }
        else
        {
            <h2> 401 - Unauthorized </h2>
            <em> You are not logged in. Redirect to <a asp-area="Identity" asp-page="/Account/Login"> login </a> </em>
        }
    }
</div>
</body>
</html>