/* BASIC STYLING */
body {
    background: #e8f1fe;
    font-family: 'Trebuchet MS', sans-serif;
}

h2 {
    margin-top: 10px;
    padding-top: 10px;
}

a {
    color: #5778c4;
    text-decoration: none;
}

a:hover {
    color: #324d8d;
    text-decoration: underline;
}

input[type="email"],
input[type="text"],
input[type="tel"],
input[type="password"] {
    background: white;
    border: 1px solid #1b73f5;
    padding: 2px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #571010;
}

div.page ul.cheeps li img.profilepicture {
    width: 60px !important;
    height: 60px !important;
    max-width: none !important;
    max-height: none !important;
    flex: 0 0 auto;
    border-radius: 12%;
    border: 2px solid #1b73f5;
    object-fit: cover;
    display: block;
    float: none !important;
}

/* share button */
input[type="submit"] {
  background: #8b89ed;
  border: 1px solid transparent;
  padding: 1px 3px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: white;
}

/* PAGE */
div.page {
  background: white;
  border: 1px solid #1b73f5;
  width: 90%;
  margin: 20px auto;
    border-radius: 10px;
}

div.page > h1 {
  background: #5698f8;
  margin: 0;
  padding: 10px 14px;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0 0 3px #0400a3;
  font-weight: normal;
  font-size: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.page h1 img {
  height: 1em;
}

/* NAVIGATION BAR */
div.page div.navigation {
  background: #DEE9E8;
  padding: 4px 12px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #eee;
  color: #888;
  font-size: 12px;
  letter-spacing: 0.5px;
}

div.page div.navigation a {
  color: #383838;
  font-weight: bold;
    text-transform: uppercase;
}

div.page div.navigation form {
    display: contents;
}

.followbtn{
    display: flex;
    /*background: #9095b0;*/
    background: #8b89ed;
    border: 1px solid transparent;
    padding: 2px 6px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: white;
}

.deletebtn{
    display: flex;
    padding: 2px 6px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #d8000c;
    background-color: #ffd2d2;
    border: 1px solid #d8000c;
}

.deletebtn:hover, .forgetbtn:hover{
    color: white;
    border: 1px solid transparent;
    background-color: #d8000c;
    text-decoration: none;
}

.forgetbtn{
    color: #d8000c;
    background-color: #ffd2d2;
    border: 1px solid #d8000c;
    margin-top: 20px;
}

.aboutmebtn {
    border-radius: 12px;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: bold;
    background: #F0FAF9;
    border: 1px solid #DBF3F1;
    color: #666;
}

.aboutmebtn:hover {
    background: #D9EFED;
    border-color: #B9E0DC;
    color: #333;
}

.followcontainer{
    display: flex;
    align-items: center;
    gap: 17px;
    padding-bottom:13px;
}

div.page div.navigation form button {
    padding: unset;
    background: unset;
    color: #444;
    font-weight: bold;
    display: inline-block;
    font-size: unset;
    cursor: pointer;
    text-decoration: underline;
    font-family: unset;
    letter-spacing: unset;
}

div.page h2 {
  margin: 0 0 15px 0;
  color: #4c1b7a;
  text-shadow: 0 1px 2px #ccc;
}

div.page div.body {
  padding: 10px;
}

div.page div.footer {
  background: #eee;
  color: #888;
  padding: 5px 10px;
  font-size: 12px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

div.page div.followstatus {
  border: 1px solid #ccc;
  background: #E3EBEA;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 3px;
  font-size: 13px;
}

/* Box til cheeps */
div.page ul.cheeps {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: large;
}

/* cheep content */
div.page ul.cheeps li {
  margin: 10px 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1.1em;
  padding-bottom: 1.5em;
  background: #F0FAF9;
  border: 1px solid #DBF3F1;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  min-height: 48px;
  word-wrap: break-word;
}

div.page ul.cheeps p {
  margin: 0;
}

/*div.page ul.cheeps li img {
  float: left;
  padding: 0 10px 0 0;
}*/

/* Timestamp */
div.page ul.cheeps li small {
  font-size: 0.95em;
  color: #666;
}

div.page div.cheepbox {
  margin: 10px 0;
  padding: 5px;
  background: #F0FAF9;
  border: 1px solid #1b73f5;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.page div.cheepbox h3 {
  margin: 0;
  font-size: 1em;
  color: #5778c4;
}

div.page div.cheepbox p {
  margin: 0;
}

div.page div.cheepbox input[type="text"] {
  width: 50%;
  min-width: 150px;
  color: black;
}

div.page div.cheepbox input[type="submit"] {
  width: 70px;
  margin-left: 5px;
}

div.message {
  list-style: none;
  margin: 10px 10px 0 10px;

  background: #f3b9b9;
  border: 1px solid #ce8181;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

ul.message li {
  background: #f3b9b9;
  border: 1px solid #ce8181;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

div.error {
  margin: 10px 0;
  background: #FAE4E4;
  border: 1px solid #DD6F6F;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

div.topics {
  width: 180px;
  height: 250px;
  background: #ffffff;
  border: 1px solid #e29494;
  border-radius: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 460px;
  padding: 10px;
}

ul.topic {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.topic {
  margin: 10px 0;
  padding: 5px;
  background: #F0FAF9;
  border: 1px solid #DBF3F1;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  min-height: 20px;
}

form * {
    margin: 2px 0;
}

.pagination {
    display: flex;
    gap: 8px;
}

button {
    background-color: #8b89ed;
    border:1px solid transparent;
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: larger;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: #3532e0;
    border-color: #3532e0;
    text-decoration: none;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cc6e6e;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
}

ul.nav li a:hover {
    background-color: #8b4949;
}

span.field-validation-error{
    color: #d8000c;          
    background-color: #ffd2d2;
    border: 1px solid #d8000c;
    border-radius: 3px;
    padding: 2px 3px;
    font-size: 13px;
    margin-top: 2px;
}