@using Chirp.Core
@using Chirp.Infrastructure.Service
@inject SignInManager<Author> SignInManager
@model FollowButtonViewModel

@if (SignInManager.IsSignedIn(User) && Model.Author != User.Identity!.Name)
{
    if (Model.IsFollowing)
    {
        <form method="post" asp-page-handler="Unfollow">
            <input type="hidden" name="author" value="@Model.Author" />
            <button type="submit">Unfollow</button>
        </form>
    }
    else
    {
        <form method="post" asp-page-handler="Follow">
            <input type="hidden" name="author" value="@Model.Author" />
            <button type="submit">Follow</button>
        </form>
    }
}